body{
    background-color: rgb(255, 217, 148);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.emoji-cursor {
    position: absolute;
    font-size: 32px;
}